body{
    color: white;
    background-color: hsl(216, 12%, 8%);
}

main{
    background-color: hsl(213, 19%, 18%);
    width: 80%;
    border-radius: 1.125rem;
    padding: 1.25rem;
    margin: 0 auto;
    max-width: 20rem;
}